.button
  display: inline-flex
  justify-content: center
  align-items: center
  height: 50px
  padding: 0 35px 1px
  color: $white
  font-size: 1.2em
  font-weight: 200 !important
  border: none
  border-radius: 5px
  background-color: $theme
  transition: all ease .35s
  outline: none !important
  &.blue
    background-color: $blue
  &.green
    background-color: $green
  &.orange
    background-color: $orange
  &.top
    min-width: 88px
    padding: 0 20px 1px
    height: 40px
  &.cta
    font-size: 1.35em
    padding: 0 48px 1px
    height: 56px
  &.lite
    font-size: 1em
    background-color: $lpink
  &:hover
    color: $white !important
    background-color: $blue
