header
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  height: 10vh
  background-color: transparent
  z-index: 998
  +v-sm
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 80px
    padding: 0 24px !important
    margin: 0 !important
    background-color: $theme
    z-index: 9999999
  #logo
    display: flex
    align-items: center
    margin: 0
    padding: 0
    width: auto
    height: 80px
    +v-sm
      margin-left: -12px
  a
    font-size: 1.2em
    font-weight: 300
    transition: all ease-out .3s
    &:hover
      color: $theme !important
    +v-sm
      color: $theme !important
      text-align: center !important
    span
      display: inline-block
      font-weight: 500
      transform: translateY(1px)
  #logo
    a
      span
        font-size: 24px !important
        font-weight: 700
        font-family: $intro
      +v-sm
        span
          transform: translateX(8px)
          font-size: 24px !important
  .menu
    position: relative
    display: flex
    justify-content: flex-end
    align-items: center
    z-index: 999 !important
    &.active
      background-color: transparent !important
      a
        +v-sm
          color: $theme !important
          text-align: center !important
        &.button
          &.top
            +v-sm
              justify-content: flex-start !important
    +v-sm
      position: absolute
      display: block
      top: 80px
      left: 105%
      right: 105%
      width: 100%
      height: 100vh
      overflow-x: hidden
      overflow-x: hidden
      transition: left ease-out .5s
      background-color: $white !important
      &.active
        left: 0
        right: 0
        background-color: $white !important
      a
        display: flex
        align-items: center
        width: 100%
        height: 60px !important
        margin: 0 !important
        padding: 0 24px !important
        background-color: transparent !important
        border-top: 1px solid $light
        &:last-child
          border-bottom: 1px solid $light

.burger
  display: none
  +v-sm
    position: fixed
    top: 32px
    right: 50px
    display: block
    span
      width: 24px
      height: 2px
      transition: all ease-out .25s
      &.tt
        position: absolute
        left: 0
        top: 8px
        background-color: $theme
        transform: rotate(45deg)
      &.mm
        position: absolute
        width: 0
        left: 0
        top: 8px
        background-color: transparent
      &.bb
        position: absolute
        left: 0
        top: 8px
        background-color: $theme
        transform: rotate(-45deg)
    &.open
      span
        width: 24px
        height: 2px
        &.tt
          position: absolute
          left: 0
          top: 0
          background-color: $theme
          transform: rotate(0deg)
        &.mm
          position: absolute
          left: 0
          top: 8px
          background-color: $theme
        &.bb
          position: absolute
          left: 0
          top: 16px
          background-color: $theme
          transform: rotate(0deg)
  +v-xs
    position: fixed
    top: 32px
    right: 56px
    display: block
