#top
  width: 100%
  background: $dark url('../../assets/images/bgs/hero.svg') center center no-repeat
  background-size: 100%

#contact
  .tr
    +v-sm
      order: 1
    a
      +v-xs
        display: block
        margin-bottom: 16px
  .m-center
    +v-sm
      margin-top: 24px
      order: 2

.form-iframe
  +v-sm
    width: 90%
    margin-left: 5%
    margin-right: 5%
.form-text
  +v-sm
    width: 90%
    margin-left: 5%
    margin-right: 5%
    padding: 0 20px !important
    span
      font-size: 18px

section
  .container
    +v-xs
      padding: 0 40px !important

#categories
  .tc.p-b-40
    +v-xs
      padding-top: 40px

.post
  img
    +v-sm
      width: 90%
      margin: -20px 5% 40px
    &.certify
      width: 100%
      margin: 8px 0 0
  .title-intro
    +v-sm
      text-align: left !important
  .p-y-64
    +v-sm
      padding-left: 32px
      padding-right: 32px
