$dark: #1E1E1E
$grey: #efefef
$medium: #454647
$light: #f4f4f4
$blue: #5E86EA
$pink: #CD6AA5
$lpink: #7db5ea
$yellow: #FAAD14
$violet: #B24BF7
$orange: #FA8C16
$red: #F5222D
$green: #B24BF7
$white: #fff
$theme: $blue
$hero: #D9F0FC
$dblue: #030712

$bprice: #DBE4F5
$vprice: #E8D5F1
$gprice: #E7EDD0

$basic: 'Geologica', sans-serif
$intro: 'Geologica', sans-serif

=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
